*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem  rgba(0, 0, 0, 1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #cfcfca;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius:1rem ;
    border: none;
}
#reset1{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg{
    color: white;
    font-size: 10vmin;
}
.msg-container{
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}
.msg1{
    color: white;
    font-size: 10vmin;
}

.msgfull{
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide1{
    display: none;
}
#reset12{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;

}